Babel==1.3
azure==0.8.0
boto==2.27.0
gevent==1.0
greenlet==0.4.2
iso8601==0.1.10
netaddr==0.7.11
oslo.config==1.3.0
pbr==0.8.0
prettytable==0.7.2
python-keystoneclient==0.7.1
python-swiftclient==2.0.3
pytz==2014.2
requests==2.2.1
simplejson==3.4.0
six==1.6.1
wal-e==0.7.0
wsgiref==0.1.2
